<h1>HANDLEBARS TEMPLATE ENGINE</h1>
<hr/>
<h2>{{name}}</h2>
<ul>
    <li>Session ID: {{sessionId}}</li>
    <li>Requested: {{requested}}</li>
    <li>{{#items}}{{#func1}}{{a}}{{/func1}}{{/items}}</li>
    <li>{{#func2}}{{description}}{{/func2}}</li>
</ul>

